<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>

    <div class="backgroundMain">

        <div id="a">
            <ul class="v-effect-link">
                <li><a href="#home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#Team">Team</a></li>
                <li><a href="#Contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="banner">
            <div class="bannerInner">
            <div class="bannerLeft">
                <h1>Solutions For Your Business</h1> <br>
                <h2>We are team of talented designers making websites, apps and softwares. Also give services.</h2>
            </div>
            <div class="bannerRight"><img src="../static/images/hero-img.png"></div>
            
        </div>
        </div>

    </div>



    <div id="Contact"> Mobile :- 6203444898</div>
    <div id="Contact"> Email :- contact@stakyota.com</div>








</body>

</html>